USE [Clinic_Appointment_System]
GO
/****** Object:  Table [dbo].[People]    Script Date: 1/14/2026 10:13:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[NationalNo] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[ThirdName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[DateOfBirth] [date] NOT NULL,
	[NationalityCountryID] [int] NOT NULL,
 CONSTRAINT [PK__People__AA2FFB85D561FEDC] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Countrie__10D160BF8FFD525D] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[SpecialtyID] [int] NOT NULL,
 CONSTRAINT [PK__Doctors__2DC00EDFBC06DF87] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialties]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialties](
	[SpecialtyID] [int] IDENTITY(1,1) NOT NULL,
	[SpecialtyName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Specialt__D768F6486197971C] PRIMARY KEY CLUSTERED 
(
	[SpecialtyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DoctorsList_View]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DoctorsList_View]
AS
SELECT        dbo.Doctors.DoctorID, dbo.People.FirstName + ' ' + dbo.People.SecondName + ' ' + ISNULL(dbo.People.ThirdName, '') + ' ' + dbo.People.LastName AS FullName, dbo.Specialties.SpecialtyName, CAST(YEAR(GETDATE()) 
                         - YEAR(dbo.People.DateOfBirth) AS TINYINT) AS Age, (CASE WHEN Gender = 0 THEN 'Male' WHEN Gender = 1 THEN 'Female' END) AS Gender, dbo.Countries.CountryName, dbo.People.NationalNo
FROM            dbo.Countries INNER JOIN
                         dbo.People ON dbo.Countries.CountryID = dbo.People.NationalityCountryID INNER JOIN
                         dbo.Doctors ON dbo.People.PersonID = dbo.Doctors.PersonID INNER JOIN
                         dbo.Specialties ON dbo.Doctors.SpecialtyID = dbo.Specialties.SpecialtyID
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[FileNo] [nvarchar](15) NULL,
 CONSTRAINT [PK__Patients__970EC3469DF2371F] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PatientsList_View]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PatientsList_View]
AS
SELECT        dbo.Patients.PatientID, dbo.People.FirstName + ' ' + dbo.People.SecondName + ' ' + ISNULL(dbo.People.ThirdName, '') + dbo.People.LastName AS FullName, CAST(YEAR(GETDATE()) - YEAR(dbo.People.DateOfBirth) AS TINYINT) 
                         AS Age, dbo.Patients.FileNo, dbo.People.NationalNo, (CASE WHEN Gender = 0 THEN 'Male' WHEN Gender = 1 THEN 'Female' END) AS Gender, dbo.Countries.CountryName
FROM            dbo.Patients INNER JOIN
                         dbo.People ON dbo.Patients.PersonID = dbo.People.PersonID INNER JOIN
                         dbo.Countries ON dbo.People.NationalityCountryID = dbo.Countries.CountryID
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[AppointmentStatusID] [int] NOT NULL,
	[AppointmentNotes] [nvarchar](200) NULL,
	[UpdateAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Appointm__8ECDFCA2DF278927] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentStatuses]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NULL,
	[Diagnosis] [nvarchar](500) NOT NULL,
	[Prescription] [nvarchar](100) NULL,
	[Notes] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[MethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Payments__9B556A5856B7384F] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Users__1788CCACDD8A7160] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__Appoi__4BAC3F29] FOREIGN KEY([AppointmentStatusID])
REFERENCES [dbo].[AppointmentStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__Appoi__4BAC3F29]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__Creat__4CA06362] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__Creat__4CA06362]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__Docto__4AB81AF0] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__Docto__4AB81AF0]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__Patie__49C3F6B7] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__Patie__49C3F6B7]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_UserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_UserID]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK__Doctors__PersonI__412EB0B6] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK__Doctors__PersonI__412EB0B6]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK__Doctors__Special__5DCAEF64] FOREIGN KEY([SpecialtyID])
REFERENCES [dbo].[Specialties] ([SpecialtyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK__Doctors__Special__5DCAEF64]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK__Patients__Person__3C69FB99] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK__Patients__Person__3C69FB99]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK__Payments__Appoin__756D6ECB] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK__Payments__Appoin__756D6ECB]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK__Payments__Create__76619304] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK__Payments__Create__76619304]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_PaymentMethodID] FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([MethodID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_PaymentMethodID]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK__People__National__398D8EEE] FOREIGN KEY([NationalityCountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK__People__National__398D8EEE]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__PersonID__44FF419A] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__PersonID__44FF419A]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddAppointment]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddAppointment]
	@PatientID INT,
	@DoctorID INT,
	@AppointmentDate DATETIME,
	@AppointmentStatusID INT,
	@AppointmentNotes NVARCHAR(200),
	@UpdateAt DATETIME,
	@CreatedAT DATETIME,
	@CreatedByUserID INT,
	@NewAppointmentID INT OUTPUT,
	@RETURN_VALUE INT OUTPUT
	
AS
BEGIN
	SET NOCOUNT ON;


	BEGIN TRANSACTION

	BEGIN TRY
		
		IF EXISTS(
			SELECT 1
			FROM Appointments WITH (UPDLOCK, HOLDLOCK)
			WHERE DoctorID = @DoctorID AND AppointmentDate = @AppointmentDate
			)
		BEGIN
			ROLLBACK TRANSACTION
			SET @RETURN_VALUE = -2; -- Doctor double-booking
			RETURN;
		END

		IF EXISTS(
			SELECT 1 
			FROM Appointments WITH (UPDLOCK, HOLDLOCK)
			WHERE DoctorID = @DoctorID AND PatientID = @PatientID AND AppointmentStatusID = 1
			)
		BEGIN
			ROLLBACK TRANSACTION
			SET @RETURN_VALUE = -3; -- Patient already has active appointment
			RETURN;
		END

		-- Insert statements for procedure here
		INSERT INTO Appointments(PatientID, DoctorID, AppointmentDate, AppointmentStatusID, 
								AppointmentNotes, UpdateAt, CreatedAt, CreatedByUserID)
		VALUES (@PatientID, @DoctorID, @AppointmentDate, @AppointmentStatusID,
				@AppointmentNotes, @UpdateAt, @CreatedAT, @CreatedByUserID)

		SET @NewAppointmentID = SCOPE_IDENTITY();

		COMMIT
		SET @RETURN_VALUE = 1;
	END TRY
	BEGIN CATCH
		BEGIN
			ROLLBACK TRANSACTION;
			SET @RETURN_VALUE = -1; -- Unexpected exception
		END
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewDoctor]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewDoctor]
	@NationalNo NVARCHAR(20),
	@FirstName NVARCHAR(50),
	@SecondName NVARCHAR(50),
	@ThirdName NVARCHAR(50),
	@LastName NVARCHAR(50),
	@Gender TINYINT,
	@PhoneNumber NVARCHAR(20),
	@Email NVARCHAR(100),
	@DateOfBirth DATE,
	@NationalityCountryID INT,
	@SpecialtyID INT,

	@NewDoctorID INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION
	BEGIN TRY

		DECLARE @NewPersonID INT

		EXECUTE [dbo].[SP_AddNewPerson] @NationalNo, @FirstName, @SecondName, @ThirdName, @LastName, @Gender, @PhoneNumber,
				@Email, @DateOfBirth, @NationalityCountryID, @NewPersonID OUTPUT

		-- Insert Patient into Patients table (FileNo will be updated)
		INSERT INTO Doctors (PersonID, SpecialtyID) VALUES (@NewPersonID, @SpecialtyID)
		SET @NewDoctorID = SCOPE_IDENTITY();

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK;
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPatient]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewPatient]
	@NationalNo NVARCHAR(20),
	@FirstName NVARCHAR(50),
	@SecondName NVARCHAR(50),
	@ThirdName NVARCHAR(50),
	@LastName NVARCHAR(50),
	@Gender TINYINT,
	@PhoneNumber NVARCHAR(20),
	@Email NVARCHAR(100),
	@DateOfBirth DATE,
	@NationalityCountryID INT,

	@NewPersonID INT OUTPUT,
	@NewPatientID INT OUTPUT,
	@NewFileNo NVARCHAR(15) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION
	BEGIN TRY

		EXECUTE [dbo].[SP_AddNewPerson] @NationalNo, @FirstName, @SecondName, @ThirdName, @LastName, @Gender, @PhoneNumber,
				@Email, @DateOfBirth, @NationalityCountryID, @NewPersonID OUTPUT

		-- Insert Patient into Patients table (FileNo will be updated)
		INSERT INTO Patients (PersonID, FileNo) VALUES (@NewPersonID, Null)
		SET @NewPatientID = SCOPE_IDENTITY();

		-- Generate and update FileNo
		SET @NewFileNo = 'P-' + CAST(YEAR(GETDATE()) AS NVARCHAR) + '-' + RIGHT('000' + CAST(@NewPatientID AS NVARCHAR), 5)

		UPDATE Patients
		SET FileNo = @NewFileNo
		WHERE Patients.PatientID = @NewPatientID

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPayment]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewPayment]
	@AppointmentID INT,
	@Amount SMALLMONEY,
	@PaymentMethodID TINYINT,
	@PaymentDate DATETIME,
	@CreatedByUserID INT,
	@NewPaymentID INT OUTPUT

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Payments(AppointmentID, Amount, PaymentMethodID, PaymentDate, CreatedByUserID)
	VALUES(@AppointmentID, @Amount, @PaymentMethodID, @PaymentDate, @CreatedByUserID)

	SET @NewPaymentID = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPerson]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewPerson]
	@NationalNo NVARCHAR(20),
	@FirstName NVARCHAR(50),
	@SecondName NVARCHAR(50),
	@ThirdName NVARCHAR(50),
	@LastName NVARCHAR(50),
	@Gender TINYINT,
	@PhoneNumber NVARCHAR(20),
	@Email NVARCHAR(100),
	@DateOfBirth DATE,
	@NationalityCountryID INT,

	@NewPersonID INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO People (NationalNo, FirstName, SecondName, ThirdName, LastName, Gender, PhoneNumber,
						Email, DateOfBirth, NationalityCountryID)
	
	VALUES (@NationalNo, @FirstName, @SecondName, @ThirdName, @LastName, @Gender, @PhoneNumber,
			@Email, @DateOfBirth, @NationalityCountryID)

	SET @NewPersonID = SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDoctor]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteDoctor]
	@DoctorID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION
	BEGIN TRY
		DECLARE @PersonID INT
		SET @PersonID = (SELECT PersonID FROM Doctors WHERE DoctorID = @DoctorID)

		DELETE FROM Doctors
		WHERE DoctorID = @DoctorID

		EXEC [dbo].[SP_DeletePerson] @PersonID

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePatient]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeletePatient]
	@PatientID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION
	BEGIN TRY
		DECLARE @PersonID INT
		SET @PersonID = (SELECT PersonID FROM Patients WHERE PatientID = @PatientID)

		DELETE FROM Patients
		WHERE PatientID = @PatientID

		EXEC [dbo].[SP_DeletePerson] @PersonID

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerson]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeletePerson]
	@PersonID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM People
	WHERE PersonID = @PersonID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAppointments]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllAppointments]
	@TodaysCount INT OUTPUT,
	@CompletedCount INT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	SELECT @TodaysCount = COUNT(*) FROM Appointments WHERE CAST(AppointmentDate AS DATE) = (CAST(GETDATE() AS DATE))
	SELECT @CompletedCount = COUNT(*) FROM Appointments WHERE AppointmentStatusID = 2 AND CAST(AppointmentDate AS DATE) = (CAST(GETDATE() AS DATE))
	
	SELECT A.AppointmentID,
	(P_Patient.FirstName + ' ' + P_Patient.SecondName + ' ' + ISNULL(P_Patient.ThirdName, '') + ' ' + P_Patient.LastName) AS PatientName ,
	(P_Doctor.FirstName + ' ' + P_Doctor.SecondName + ' ' + ISNULL(P_Doctor.ThirdName, '') + ' ' + P_Doctor.LastName) AS DoctorName , 
	A.AppointmentDate, AppointmentStatuses.StatusName, A.CreatedAt, A.UpdateAt

	FROM Appointments A
		INNER JOIN Patients Pa ON A.PatientID = Pa.PatientID
		INNER JOIN People P_Patient ON Pa.PersonID = P_Patient.PersonID

		INNER JOIN Doctors Doc ON A.DoctorID = Doc.DoctorID
		INNER JOIN People P_Doctor ON Doc.PersonID = P_Doctor.PersonID

		INNER JOIN AppointmentStatuses ON A.AppointmentStatusID = AppointmentStatuses.StatusID

	ORDER BY A.AppointmentDate DESC, A.AppointmentStatusID ASC


END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllCountries]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllCountries]

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Countries
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllDoctors]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllDoctors]

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM DoctorsList_View
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPatients]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllPatients]

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM PatientsList_View
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllSpecialties]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllSpecialties]

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Specialties
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAppointmentByID]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAppointmentByID]
	@AppointmentID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Appointments
	WHERE AppointmentID = @AppointmentID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCountryByID]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetCountryByID]
	@CountryID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Countries
	WHERE CountryID = @CountryID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCountryByName]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetCountryByName]
	@CountryName NVARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Countries
	WHERE CountryName = @CountryName
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDailyReport]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetDailyReport]
	@ReportDate DATE,
	@TodaysCount INT OUTPUT,
	@CompletedCount INT OUTPUT,
	@CancelledCount INT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT @TodaysCount = COUNT(*) FROM Appointments WHERE AppointmentStatusID = 1 AND CAST(AppointmentDate AS DATE) = @ReportDate
	SELECT @CompletedCount = COUNT(*) FROM Appointments WHERE AppointmentStatusID = 2 AND CAST(AppointmentDate AS DATE) = @ReportDate
	SELECT @CancelledCount = COUNT(*) FROM Appointments WHERE AppointmentStatusID = 3 AND CAST(AppointmentDate AS DATE) = @ReportDate


	SELECT A.AppointmentID,
	(P_Patient.FirstName + ' ' + P_Patient.SecondName + ' ' + ISNULL(P_Patient.ThirdName, '') + ' ' + P_Patient.LastName) AS PatientName ,
	(P_Doctor.FirstName + ' ' + P_Doctor.SecondName + ' ' + ISNULL(P_Doctor.ThirdName, '') + ' ' + P_Doctor.LastName) AS DoctorName , 
	A.AppointmentDate, AppointmentStatuses.StatusName, U.UserName

	FROM Appointments A
		INNER JOIN Patients Pa ON A.PatientID = Pa.PatientID
		INNER JOIN People P_Patient ON Pa.PersonID = P_Patient.PersonID

		INNER JOIN Doctors Doc ON A.DoctorID = Doc.DoctorID
		INNER JOIN People P_Doctor ON Doc.PersonID = P_Doctor.PersonID

		INNER JOIN AppointmentStatuses ON A.AppointmentStatusID = AppointmentStatuses.StatusID
		INNER JOIN Users U ON A.CreatedByUserID = U.UserID
	WHERE CAST(A.AppointmentDate AS DATE) = @ReportDate
	ORDER BY A.AppointmentDate DESC

	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDoctorByID]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetDoctorByID]
	@DoctorID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Doctors.DoctorID, Doctors.SpecialtyID, People.PersonID, People.NationalNo, People.FirstName, People.SecondName, 
			People.ThirdName, People.LastName, People.Gender, People.PhoneNumber, People.Email,
			People.DateOfBirth, People.NationalityCountryID
	FROM Doctors INNER JOIN
		People ON Doctors.PersonID = People.PersonID
	WHERE Doctors.DoctorID = @DoctorID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDoctorByNationalNo]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetDoctorByNationalNo]
	@NationalNo NVARCHAR(20)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Doctors.DoctorID, Doctors.SpecialtyID, People.PersonID, People.NationalNo, People.FirstName, People.SecondName, 
			People.ThirdName, People.LastName, People.Gender, People.PhoneNumber, People.Email,
			People.DateOfBirth, People.NationalityCountryID
	FROM Doctors INNER JOIN
		People ON Doctors.PersonID = People.PersonID
	WHERE People.NationalNo = @NationalNo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPatientByFileNo]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetPatientByFileNo]
	@FileNo NVARCHAR(15)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Patients.PatientID, Patients.FileNo, People.PersonID, People.NationalNo, People.FirstName, People.SecondName, 
			People.ThirdName, People.LastName, People.Gender, People.PhoneNumber, People.Email,
			People.DateOfBirth, People.NationalityCountryID
	FROM Patients INNER JOIN
	People ON Patients.PersonID = People.PersonID
	WHERE Patients.FileNo = @FileNo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPatientByID]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetPatientByID]
	@PatientID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Patients.PatientID, Patients.FileNo, People.PersonID, People.NationalNo, People.FirstName, People.SecondName, 
			People.ThirdName, People.LastName, People.Gender, People.PhoneNumber, People.Email, People.DateOfBirth, People.NationalityCountryID
	FROM Patients INNER JOIN
		People ON Patients.PersonID = People.PersonID
	WHERE Patients.PatientID = @PatientID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPatientByNationalNo]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetPatientByNationalNo]
	@NationalNo NVARCHAR(20)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Patients.PatientID, Patients.FileNo, People.PersonID, People.NationalNo, People.FirstName, People.SecondName, 
			People.ThirdName, People.LastName, People.Gender, People.PhoneNumber, People.Email,
			People.DateOfBirth, People.NationalityCountryID
	FROM Patients INNER JOIN
		People ON Patients.PersonID = People.PersonID
	WHERE People.NationalNo = @NationalNo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSpecialtyByID]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetSpecialtyByID]
	@SpecialtyID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Specialties
	WHERE SpecialtyID = @SpecialtyID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSpecialtyByName]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetSpecialtyByName]
	@SpecialtyName NVARCHAR(255)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Specialties
	WHERE SpecialtyName = @SpecialtyName
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByUserNameAndPassword]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUserByUserNameAndPassword]
	@UserName NVARCHAR(20),
	@Password NVARCHAR(100)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT U.UserID, U.PersonID, U.UserName, U.Password, U.Role, U.IsActive, P.NationalNo, P.FirstName, P.SecondName,
		P.ThirdName, P.LastName, P.Gender, P.PhoneNumber, P.Email, P.DateOfBirth, P.NationalityCountryID
	FROM Users U INNER JOIN
	People P ON U.PersonID = P.PersonID
	WHERE UserName = @UserName AND Password = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsAppointmentPaid]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IsAppointmentPaid]
	@AppointmentID INT,
	@IsPaid BIT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS (SELECT TOP 1 found=1 FROM Payments WHERE AppointmentID = @AppointmentID)
		BEGIN
			SET @IsPaid = 1
		END
	ELSE
		BEGIN
			SET @IsPaid = 0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsNationalNoExists]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IsNationalNoExists]
	@NationalNo NVARCHAR(20)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Found=1
	FROM People
	WHERE People.NationalNo = @NationalNo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAppointment]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateAppointment]
	@AppointmentStatusID INT,
	@AppointmentNotes NVARCHAR(200),
	@UserID INT,
	@AppointmentID INT

AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @CurrentTime DATETIME
	SET @CurrentTime = GETDATE()

	UPDATE Appointments
	SET AppointmentStatusID = @AppointmentStatusID, AppointmentNotes = @AppointmentNotes, UpdateAt = @CurrentTime,
		CreatedByUserID = @UserID
	WHERE AppointmentID = @AppointmentID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDoctor]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateDoctor]
	@NationalNo NVARCHAR(20),
	@FirstName NVARCHAR(50),
	@SecondName NVARCHAR(50),
	@ThirdName NVARCHAR(50),
	@LastName NVARCHAR(50),
	@Gender TINYINT,
	@PhoneNumber NVARCHAR(20),
	@Email NVARCHAR(100),
	@DateOfBirth DATE,
	@NationalityCountryID INT,
	@SpecialtyID INT,
	@PersonID INT,
	@DoctorID INT

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION
	BEGIN TRY
			
		EXEC [dbo].[SP_UpdatePerson] @NationalNo, @FirstName, @SecondName, @ThirdName, @LastName, @Gender,
									@PhoneNumber, @Email, @DateOfBirth, @NationalityCountryID, @PersonID

		UPDATE Doctors
			SET SpecialtyID = @SpecialtyID
		WHERE DoctorID = @DoctorID

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 1/14/2026 10:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdatePerson]
	@NationalNo NVARCHAR(20),
	@FirstName NVARCHAR(50),
	@SecondName NVARCHAR(50),
	@ThirdName NVARCHAR(50),
	@LastName NVARCHAR(50),
	@Gender TINYINT,
	@PhoneNumber NVARCHAR(20),
	@Email NVARCHAR(100),
	@DateOfBirth DATE,
	@NationalityCountryID INT,
	@PersonID INT

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE People
		SET NationalNo = @NationalNo, FirstName = @FirstName, SecondName = @SecondName, ThirdName = @ThirdName,
			LastName = @LastName, Gender = @Gender, PhoneNumber = @PhoneNumber, Email = @Email, DateOfBirth = @DateOfBirth,
			NationalityCountryID = @NationalityCountryID
	WHERE PersonID = @PersonID

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[28] 4[33] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Countries"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "People"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 136
               Right = 655
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "Doctors"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Specialties"
            Begin Extent = 
               Top = 6
               Left = 693
               Bottom = 102
               Right = 863
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 7035
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DoctorsList_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DoctorsList_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[26] 4[37] 2[22] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Patients"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "People"
            Begin Extent = 
               Top = 1
               Left = 313
               Bottom = 131
               Right = 514
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "Countries"
            Begin Extent = 
               Top = 42
               Left = 627
               Bottom = 138
               Right = 797
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 7020
         Alias = 1440
         Table = 1170
         Output = 1500
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PatientsList_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PatientsList_View'
GO
